* {
    box-sizing: border-box;
}

td {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    width: 102px;
    height: 102px;
}

td.left {
    border-left: 2px solid black;
}

td.top {
    border-top: 2px solid black;
}

td.right {
    border-right: 2px solid black;
}

td.bot {
    border-bottom: 2px solid black;
}

table,
td {
    border-collapse: collapse;
}

.ib {
    /* border: 1px dotted red; */
    width: 33px;
    height: 33px;
    margin: -1px 0;
    padding: 9px 0 0 0;
    display: inline-block;
    text-align: center;
}

span {
    visibility: hidden;
    font-size: 10px;
}